html, body {
	height: 100%;
}
body, input, select, button {
	font-family: 'Montserrat';
}
#intro {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	color: #fff;
}
#intro .about-me-content {
	text-align: center;
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#intro::after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.75);
}
#intro .about-me-content h1 span {
	font-weight: 300;
	display: block;
	margin: 0 0 15px;
}
#intro .about-me-content h1 {
	font-weight: 500;
	font-size: 3.5em;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	margin: 0 0 25px;
}
#intro .about-me-content button {
}
#intro img {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
}